@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "About";
}
<h2>@Localizer["About"]</h2>
<hr/>
<h3>@Localizer["General information"]</h3>

<p>@Localizer["Description"]</p>
