@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Contact";
}

<h2>@Localizer["Contact"]</h2>
<hr/>
<h3>@Localizer["Programmer contacts"]</h3>

<address>
    <a>8-996-923-90-25</a><br/>
    <a href="mailto:andreev.alexey.91@mail.ru">andreev.alexey.91@mail.ru</a><br/>
</address>
